<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    var content_ids = [product.id];
        var value = product.price;
        var currency = product.currency;
        var content_type = 'product';
        var onetrust_id = 'c9e2ec29-b611-46cd-babd-3c2ec7ec02b5';
        var salesforce_id = '0038c00002dMaOBAA0';
        var test_event_code = 'TEST7649';
    fbq('init', '671983427427602');
    fbq('track', 'AddToCart', {content_ids:["12345"], value:3, currency:"USD", conetent_type:'product', salesforce_id: '0038b00002gSMM0AAO', 'test_event_code': 'TEST21864'});
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=671983427427602&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->

</head>
<body >
    <h1>test meta pixel test</h1>
    <p>Added to cart</p>
    <p>no one trust id attached</p>
    <p><a class= "btn" href="{% url 'listings:index'%}">Back to Home</a></p
</body>
</html>
