<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Pixel Code -->
    <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window, document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '671983427427602');
    fbq('track', 'PageView', {salesforce_id: '0038b00002gSMM0AAO', onetrust_id: '7efcd85e-28fd-4f26-af6a-6b4d7d33cadd'});
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=671983427427602&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Meta Pixel Code -->

</head>
<body >
    <h1>test One Trust</h1>
    <p><a class= "btn" href="{% url 'listings:add_to_cart'%}">Add to Cart</a></p>
    <p><a class= "btn" href="{% url 'listings:purchase'%}">Purchase</a></p>
</body>
</html>
